* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
  font-family: 'Poppins', sans-serif;
}

body {
  min-height: 100vh;
  background-color: #ffffff;
}

.btn {
  display: inline-block;
  background: rgb(0, 165, 184);
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 0.5rem 0;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn__submit {
  display: block;
  width: 100%;
}

.title {
  display: block;
  font-weight: bold;
}

.title--primary {
  font-size: 2rem;
}

.title--secondary {
  font-size: 1.5rem;
}

.form {
  box-shadow: inset 1px 1px 5px gray;
  border-radius: 0.5rem;
  margin-bottom: 2rem;
  padding: 0.5rem 1rem;
}

.form--edit {
  background-color: rgb(224, 230, 173);
}

.form-control {
  margin: 20px 0;
  font-size: 1.5rem;
}

.form-control label {
  display: block;
  font-weight: bold;
}

.form-control input {
  width: 100%;
  height: 4rem;
  margin: 0.5rem 0;
  padding: 3px 7px;
  font-size: 17px;
  border-radius: 0.5rem;
  border: 1px solid gray;
}

.form-control__checkbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.form-control__checkbox label {
  flex: 1;
  font-weight: bold;
}

.form-control__checkbox input {
  flex: 2;
  height: 2rem;
}
